// variables go above this import
$primary: #cc9f53;
$secondary: #b0b3b2;
$orange: #b45b38;
$blue: #003764;
$dark-grey: #53575a;

// custom styles go below this import
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.navbar-scrolled {
  background: #1a1a1a;
  transition: 1s;
}

.navbar-unscrolled {
  background: transparent;
  transition: 1s;
}

a.nav-links {
  color: white !important;
  font: 1.25rem Teko, sans-serif;
  margin: 0 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.nav-links:hover {
  color: $primary !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  line-height: 0.75;
}

hr {
  border: 5px solid $orange;
  opacity: 1;
  width: 100px;
  transform: skewX(-20deg);
}

.Jumbotron {
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url('./assets/header-image/header-image.jpg');
  min-height: 100vh;
}

.Jumbotron h1 {
  font-size: 5rem;
  line-height: 4.5rem;
}

.btn {
  font: 1.25rem Teko, sans-serif;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-primary.active {
  color: white;
  background-color: $primary;
}

.btn-slant {
  border-radius: 0;
  width: 200px;
  height: 50px;
  background-color: transparent;
  transform: skewX(-20deg);
}

.btn-slant:hover {
  color: white;
}

.btn-slant p {
  line-height: 2.2rem;
}

.unslant-text {
  transform: skewX(20deg);
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.slanted-background-right {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}

.slanted-background-left {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}